@font-face {
  font-family: graffiti;
  src: url('../../font/aAttackGraffiti.ttf');
}
@font-face {
  font-family: brush;
  src: url("../../font/blowbrush.ttf");
}
@font-face {
  font-family: luna;
  src: url('../../font/Luna.ttf');
}
@font-face {
  font-family: pixel;
  src: url('../../font/Minecraft.ttf');
}
@font-face {
  font-family: price;
  src: url('../../font/pricedown\ bl.ttf');
}
@font-face {
  font-family: sign;
  src: url('../../font/High\ Summit.ttf') format("ttf");
}

